@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
=============
Fonts
=============
*/
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
}

#theme-switch span {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

#moon {
  @apply w-5 h-5;
  mask: url("../images/icon-moon.svg") no-repeat center/100% 100%;
}
#sun {
  @apply w-5 h-5;
  mask: url("../images/icon-sun.svg") no-repeat center/100% 100%;
}

.dark-theme #light {
  transform: translateY(100%);
}
.dark-theme #dark {
  transform: translateY(100%);
}
